<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 17%;
    background-color: #f1f1f1;
    position: absolute;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


</style>
    <meta charset="UTF-8">
    <title>Bobcat Book Bazaar</title>

</head>
<body>

    <h1 style="text-align: center; color:goldenrod;background-color:maroon;padding:40px; margin:0;">Bobcat Book Bazaar</h1>
	<ul style="padding-top:10px;">
	  <li><a class="active" href="#home">Home</a></li>
	  <li><a href="{{ url_for('buy') }}">Buy</a></li>
	  <li><a href="{{ url_for('sell') }}">Sell</a></li>
	  <li><a href="{{ url_for('profile') }}">Manage Profile</a></li>
	  <li><a href="{{ url_for('messages') }}">Visit Messages</a></li>
	  <li><a href="{{ url_for('logout') }}">Logout</a></li>
	</ul>
	<div style="margin-left:4%;padding:1px 16px;height:100px;">
		<h2 style="text-align:center;"> <b>Welcome to Bobcat Book Bazaar!</b></h2>
	</div>
	<div style="margin-left:250px;">
	    <p>This is the Home Page</p>
		<p>More Info will be coming soon, site in under construction.</p>
		<p>For any further assistance, contact UMBRIEL team. </p>
	</div>
</body>
</html>