<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <style>
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 17%;
    background-color: #f1f1f1;
    position: absolute;
    height: 100%;
    overflow: auto;
    }
    </style>
</head>
<body>

<div>

    <h1 style="text-align: center; color:goldenrod;
        background-color:maroon;padding:30px">Bobcat Book Bazaar</h1>
    <hr>
    <hr>
</div>

This page can contain a list on the left side with all active chats.
<br><br>
The actual chats can be opened in popup windows.

<ul style="padding-top:10px;">
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="buy.html">Buy</a></li>
    <li><a href="sell.html">Sell</a></li>
    <li><a href="profile.html">Manage Profile</a></li>
    <li><a href="messages.html">Visit Messages</a></li>
    <li><a href="login1.html">Logout</a></li>
</ul><li><a href="login1.html">Logout</a></li>
</body>
</html>