<!DOCTYPE html>
<html>
<head>
	<title>Bobcat Bazaar Login</title>
</head>
<body>
	<form method="POST" action="">
		{{ form.csrf_token }}
		{{ form.netID.label() }}
		{{ form.netID() }}
		{% if form.netID.errors %}
        	<ul>{% for error in form.netID.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    	{% endif %}

    	{{ form.password.label() }}
		{{ form.password() }}
		{% if form.password.errors %}
        	<ul>{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    	{% endif %}

		{{ form.submit() }}		
	</form>
</body>
</html>