<!-- NABIL MANASIYA-->
<!DOCTYPE html>
<html lang="en">
<head>
	<title>SignUp</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('fonts and images/bg-01.jpg');">
			<div class="wrap-login100  p-l-55 p-r-55 p-t-65 p-b-54" style="opacity:0.9">
				<span class="login100-form-title p-b-49">
					Sign Up Page
				</span>

				<form method="POST" action="">
					{{ form.hidden_tag() }}
					<div class="wrap-input100 validate-input m-b-23" data-validate = "Firstname is required">
						{{ form.firstname.label(class="label-input100") }}
						{{ form.firstname(class="input100") }}
					</div>
					<div class="wrap-input100 validate-input m-b-23" data-validate = "Lastname is required">
						{{ form.lastname.label(class="label-input100") }}
						{{ form.lastname(class="input100") }}
					</div>
					<div class="wrap-input100 validate-input m-b-23" data-validate = "netID is required">
						{{ form.netID.label(class="label-input100") }}
						{{ form.netID(class="input100") }}
					</div>
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						{{ form.password.label(class="label-input100") }}
						{{ form.password(class="input100") }}
					</div>
					<div class="wrap-input100 validate-input" data-validate="Password needs to match">
						{{ form.confirm_password.label(class="label-input100") }}
						{{ form.confirm_password(class="input100") }}
					</div>
				    <br>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn">
								{{ form.submit(class="login100-form-btn") }}
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
<script>
function send1(){
    window.location.href = "/"
}
</script>	
</body>
</html>
